
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TrangChu.cshtml";
}

<section id="about-MT-shop">
    <div class="container-about-shop">
        <div class="about-shop-heading-left">
            <img src="~/images/AboutMT.jpg" alt="">
        </div>
        <div class="about-shop-heading-right">
            <h2 class="mb-4">Xin chào đến với Minh Trân shop</h2>
            <p>Chào mừng bạn đến với cửa hàng thực phẩm sạch của chúng tôi! Chúng tôi tự hào mang đến cho bạn những sản phẩm tươi ngon, an toàn và bổ dưỡng. Với sứ mệnh nâng cao chất lượng cuộc sống, cửa hàng chúng tôi cam kết cung cấp những thực phẩm sạch, không hóa chất và đảm bảo an toàn vệ sinh thực phẩm.</p>
            <div class="form-subscribe">
                <input type="text" class="form-control" placeholder="Nhập địa chỉ email...">
                <input type="submit" value="Đăng ký" class="submit-px-3">
            </div>
        </div>
    </div>

    <div class="container-about-shop">
        <div class="about-shop-heading-right">
            <h2 class="mb-4">Chất lượng và tươi xanh</h2>
            <p>
                - Thực phẩm sạch, hay còn gọi là thực phẩm hữu cơ (organic) đang được ưa chuộng tại các nước phát triển. Các chuyên gia sức khỏe cộng đồng cho rằng tại Mỹ đã có những đột phá mang tính cách mạng trong thói quen ăn uống.</br>
                - Trong vòng 10 năm qua các loại thực phẩm hữu cơ chỉ được bán tại một số cửa hàng nông sản ít ỏi, còn các nhà kinh doanh siêu thị cũng chẳng có khái niệm “thực phẩm hữu cơ”. Nhưng hiện nay, loại thực phẩm này đã được bán đại trà khắp nơi.</br>
                - Tại châu Âu các loại thực phẩm hữu cơ được coi là biểu tượng của thực phẩm cho sức khỏe, có rất nhiều trang trại nông nghiệp thực hiện nuôi trồng các sản phẩm nông nghiệp theo những quy định thực phẩm hữu cơ.
            </p>
        </div>
        <div class="about-shop-heading-left">
            <img src="~/images/about.png" alt="">
        </div>
    </div>

    <div class="container-about-shop">
        <div class="about-shop-heading-left">
            <img src="~/images/about1.png" alt="">
        </div>
        <div class="about-shop-heading-right">
            <h2 class="mb-4">Tầm nhìn của chúng tôi</h2>
            <p>Hiểu được vấn đề ấy, tôi và những người bạn đã tâm huyết thành lập công ty nông sản MinhTran hữu cơ, với mong muốn nhập được nhiều sản phẩm tốt, chất lượng, có chứng nhận hữu cơ về cung cấp cho các nhà phân phối tại Việt Nam. Các thương hiệu lớn được chúng tôi đã tìm hiểu, phù hợp với tập quán sử dụng, mức thu nhập của người Việt Nam.</p>
        </div>
    </div>

    <div class="container-about-shop">
        <div class="about-shop-heading-right">
            <h2 class="mb-4">Mục tiêu của chúng tôi</h2>
            <p>
                Thật may mắn, hiện tại chúng tôi đã kết nối và phân phối cho các đối tác lớn ở Tp. Vĩnh Long. Trong tương lai gần, chúng sẽ tôi sẽ đẩy mạnh phân phối sản phẩm về các tỉnh thành khác.
            </p>
        </div>
        <div class="about-shop-heading-left">
            <img src="~/images/about2.png" alt="">
        </div>
    </div>

    <div class="about-view">
        <div class="years">
            <h1>Năm kinh nghiệm</h1>
            <p>0.5</p>
        </div>
        <div class="personal">
            <h1>Nhân viên</h1>
            <p>2</p>
        </div>
        <div class="customer-member">
            <h1>Khách hàng</h1>
            <p>+300</p>
        </div>
        <div class="years">
            <h1>Cửa hàng</h1>
            <p>1</p>
        </div>
    </div>

    <div class="Why-we">
        <div class="why-heading">
            <h1>Tại sao chọn chúng tôi</h1>
            <p>Với nhiều năm kinh nghiệm trong lĩnh vực nông sản. Chúng tôi tự hào đang là đơn vị cung cấp nông sản chất lượng - tươi sạch. Cam kết về phân phối, sản phẩm, chất lượng đảm bảo và uy tín</p>
        </div>
        <div class="why-main">
            <div class="why-main-box">
                <div class="round"><i class="fa-solid fa-house-chimney"></i></div>
                <h3>PHÂN PHỐI</h3>
                <p>MinhTran luôn hướng đến xây dựng chuỗi cung ứng nông sản hàng đầu tại Việt Nam.</p>
            </div>

            <div class="why-main-box">
                <div class="round"><i class="fa-solid fa-seedling"></i></div>
                <h3>SẢN PHẨM</h3>
                <p>MinhTran luôn tìm kiếm và nhập sản phẩm hữu cơ chất lượng từ thị trường Châu Âu, Mỹ.</p>
            </div>

            <div class="why-main-box">
                <div class="round"><i class="fa-solid fa-box-open"></i></div>
                <h3>CHẤT LƯỢNG</h3>
                <p>Chỉ phân phối nông sản được chứng nhận uy tín: Demeter, EU Organic, USDA, AIAB, Vegan</p>
            </div>
        </div>
    </div>
</section>